
/* Стилизация игрового поля */

.game-field {
    width: 750px;
    border: 3px solid cornflowerblue;
    border-radius: 30px;

    margin: 20px auto;
    padding: 10px;

    background-color: honeydew;
}

/* Элементы поля расположены 
   по технологии сетки (grid)*/

.grid-wrapper {
    display: grid;

    min-height: 160px;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
        "field speed"
        "field accuracy";
        gap: 20px;
}

.type-field {
    grid-area: field;

    font-size: 20px;

    border: 3px dashed orange;
    border-radius: 20px;
    
    padding: 5px;
}

.type-accuracy {
    grid-area: accuracy;

    text-align: center;
    margin: auto;
    font-size: 20px;
}

.type-accuracy span {
    display: block;
    font-size: 20px;
}

.type-speed {
    grid-area: speed;

    text-align: center;
    margin: auto;
    font-size: 20px;  
}

.type-speed span {
    display: block;
}

.current {
    background-color: gold;
}

.passed {
    background-color: green;
}

.mistake {
    background-color: red;
}