
/* Стилизация игрового поля */

* {
    box-sizing: border-box;
}

.game-field {
    width: 750px;
    min-height: 250px;
    border: 3px solid cornflowerblue;
    border-radius: 30px;

    margin: 20px auto;
    padding: 10px;

    background-color: honeydew;
}

/* Элементы поля расположены 
   по технологии flexbox*/

.flex-wrapper {
    min-height: inherit;
    display: flex;
}

.type-field {
    width: 82%;
    min-height: inherit;
    padding: 5px;
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

    border: 3px dashed orange;
    border-radius: 20px;    
}

.prepared {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicators {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* Стилизация стартовой кнопки */

.start-button {
    width: 100px;
    height: 40px;
    border: 1px solid rgb(42, 68, 65);
    border-radius: 5px;

    text-align: center;

    background-color: teal;
}

.start-title {
    width: auto;
    margin: 10px auto;

    font-size: 20px;
    color:powderblue;
}

/* .grid-wrapper {
    display: grid;

    min-height: 200px;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
        "field speed"
        "field accuracy";
        gap: 20px;
} */


.type-accuracy {
    height: 30%;

    text-align: center;
    font-size: 20px;
}

.type-accuracy span {
    display: block;
    font-size: 20px;
}

.type-speed {
    height: 30%;
    text-align: center;
    font-size: 20px;  
}

.type-speed span {
    display: block;
}

.current {
    background-color: gold;
}

.passed {
    background-color: green;
}

.mistake {
    background-color: red;
}