
/* Стилизация вспомогательной клавиатуры */

.keyboard-container {
    text-align: center;
}
.sup-keyboard {
    display: inline-block;
    width: 750px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 20px;

    background-color:#232123;
}

.sup-keyrow {
    display: flex;
    justify-content: center;
}

.sup-key {
    display: block;

    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;

    text-align: center;
    font-size: 32px;    

    background-color: #393839;
    color: dimgray;
}

.space {
    width: 500px;
}

.highlighted {
    color: orange;
}