
/* Общая стилизация страницы страницы */

body {
    background-image: url('images/greybg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    
    text-shadow: 3px 3px 5px black;
    color: goldenrod;
}

